/*Generic*/
h1 {
  font-family: 'Seaweed Script', cursive;
  font-size: 80px;
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

h3 {
  font-size: 16px;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: #b7666a;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

/*Game*/
#board-and-selection-div {
  position: relative;
  width: 440px;
  margin: 0 auto;
}

#board-cover {
  position: absolute;
  width: 440px;
  height: 440px;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
}

#success {
  color: black;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

#next-level {
  border: 2px solid black;
  margin: 0 auto;
  width: 80px;
}

#game-board {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  border: 3px solid black;
  border-radius: 5px;
}

#food-chain-div {
  position: absolute;
  top: 0px;
  left: -190px;
  border: 3px solid black;
  border-radius: 5px;
  width: 170px;
  height: 440px;
  text-align: center;
  background-image: url("app/assets/images/ocean.png");
}

#food-chain-header {
  font-size: 30px;
  margin-bottom: 5px;
}

#food-chain-ul {
  margin: 0;
}

.food-chain-li {
  height: 20px;
  margin: 10px;
  padding: 0;
}

#selection-div {
  position: absolute;
  top: 250px;
  right: -195px;
  border: 2px solid black;
  border-radius: 5px;
  height: 130px;
  width: 170px;
  text-align: center;
  background-image: url("app/assets/images/ocean.png");
}

#selection-div h1 {
  margin: 15px;
}

#selected-piece {
  border-radius: 3px;
  border: 1px solid black;
  background-color: white;
}

#level-goal-div {
  position: absolute;
  top: 0px;
  right: -195px;
  border: 3px solid black;
  border-radius: 5px;
  height: 180px;
  width: 170px;
  text-align: center;
  background-image: url("app/assets/images/ocean.png");
}

#level-header {
  font-size: 30px;
  margin-bottom: 0;
}

#level-goal-piece {
  margin: 0 auto;
  margin-top: 20px;
  height: 44px;
  width: 44px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white;
}

.level-goal-piece {
  margin: 2px;
}

#instructions-div {
  position: absolute;
  top: 200px;
  right: -195px;
  border: 3px solid black;
  border-radius: 5px;
  height: 240px;
  width: 170px;
  text-align: center;
  background-color: white;
}

#instructions-header {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 25px;
}

#instructions-body {
  font-size: 15px;
  line-height: 100%;
  margin: 0 0px;
}

#game-pieces-header {
  text-align: center;
  margin: 5px;
}

#game-piece-container {
  width: 440px;
  margin: 0 auto;
  border-radius: 3px;
  border: 2px solid black;
  background-color: white;
  text-align: center;
}

#game-pieces {
  margin: 0 auto;
  margin-top: 6px;
  padding: 0;
}

.level-pieces {
  display: inline;
  cursor: pointer;
}

.level-pieces img {
  margin: 5px 10px;
  height: 20px;
  width: 20px;
}

.on-board {
  opacity: 0.5;
}

#button-div {
  display: flex;
  width: 250px;
  margin: 0 auto;
}

.button {
  text-align: center;
  margin: 15px auto;
  width: 100px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

.button:hover {
  background-color: black;
  color: white;
}

/*CURSORS*/
.cursor-bluewhale {
  cursor:url(app/assets/images/bluewhale.png) 20 20,auto;
}

.cursor-greatwhite {
  cursor:url(app/assets/images/greatwhite.png) 20 20,auto;
}

.cursor-hammerhead {
  cursor:url(app/assets/images/hammerhead.png) 20 20,auto;
}

.cursor-barracuda {
  cursor:url(app/assets/images/barracuda.png) 20 20,auto;
}

.cursor-piranha {
  cursor:url(app/assets/images/piranha.png) 20 20,auto;
}

.cursor-jellyfish {
  cursor:url(app/assets/images/jellyfish.png) 20 20,auto;
}
